.Footer{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap:18px;
}

.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-img{
    width: 40px;
    height: 40px;
}
.footer-logo p{
    font-size:25px;
}
.Footer-links{
    display: flex;
    list-style-type: none;
    gap: 50px;
    color: #252525;
    font-size:15px;
}
.footerlink-container{
    cursor: pointer;

}

.footer-social-icon{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.footer-social-icon-container{
    width:40px;
    height:40px;    
}

.icon{
    width:30px;
    height:30px;    
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-copyright hr{
    width:85vw;
    border-radius: 8px;
    height: 1px;
    background-color: grey;
}